.page-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-left: 40px;
  }
  .column {
    flex-grow: 1;
    padding-left: 40px;
  }
  .column:first-child {
    flex-grow: 10;
  }